{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td>
            <div class="topLevelLabel">Source</div>
            <table style="padding: 10px;">
                <tr>
                    <td  style="width: 150px;">Instance URL</td>
                    <td style="width: 500px;">{{ sourceInstance }}</td>
                </tr>
                <tr>
                    <td>Domain</td>
                    <td>{{ sourceDomain }}</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>{{ sourceProject }}</td>
                </tr>
            </table>
        </td>
        <td>
            <div class="topLevelLabel">Target</div>
            <table style="padding: 10px;">
                <tr>
                    <td style="width: 150px;">Instance URL</td>
                    <td style="width: 500px;">{{ targetInstance }}</td>
                </tr>
                <tr>
                    <td>Domain</td>
                    <td>{{ targetDomain }}</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>{{ targetProject }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<h3>Copied Datasets:</h3>
<ul>
    {% for c in copied %}
        <li>{{ c }}</li>
    {% endfor %}
</ul>
{% endblock %}