{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td>
            <div class="topLevelLabel">Source</div>
            <table style="padding: 10px;">
                <tr>
                    <td sty>Instance URL</td>
                    <td style="width: 500px;">{{ sourceInstance }}</td>
                </tr>
                <tr>
                    <td>Domain</td>
                    <td>{{ sourceDomain }}</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>{{ sourceProject }}</td>
                </tr>
            </table>
        </td>
        <td>
            <div class="topLevelLabel">Target</div>
            <table style="padding: 10px;">
                <tr>
                    <td>Instance URL</td>
                    <td>{{ targetInstance }}</td>
                </tr>
                <tr>
                    <td>Domain</td>
                    <td>{{ targetDomain }}</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>{{ targetProject }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% for c in copied %}
    <h2>{{ c }}</h2>
{% endfor %}
{% endblock %}