{% macro sourceInstance(sourceForm) %}

    <div class="topLevelLabel">Source</div>
    <form action="" method="post" name="source">
    {{ sourceForm.hidden_tag() }}
        <table class="instance">
            <tr>
                <td>
                    <label class="inputLabel">Instance URL</label>
                </td>
                <td>
                    {{ sourceForm.url() }}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="inputLabel">Username</label>
                </td>
                <td>
                    {{ sourceForm.username() }}
                </td>
            </tr>
            <tr>
                <td>
                    <label class="inputLabel">Password</label>
                </td>
                <td>
                    {{ sourceForm.password() }}
                </td>
                <td>
                    <input type="submit" value="Get domains" class="connectButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% macro domainList(domainForm) %}
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label class="inputLabel">Domain</label>
                </td>
                <td>
                    {{ domainForm.domain }}
                </td>
                <td>
                    <input type="submit" value="Get projects" class="connectButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% macro projectList(projectForm) %}
    <form method="POST">
        <table>
            <tr>
                <td>
                    <div class="inputLabel">Project</div>
                </td>
                <td>
                    {{ projectForm.project }}
                </td>
                <td>
                    <input type="submit" value="Get datasets" class="connectButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% macro tableListDisplay(tableList) %}
    <input type="checkbox" name="selectDeselect" onClick="selectDeselect(this)" checked >Select/Deselect All
    <script>
        function selectDeselect(source) {
           // alert("got here");
           checkboxes = document.getElementsByName('tableList[]');
           for (var i = 0 ; i < checkboxes.length; i++)
                checkboxes[i].checked = source.checked;
        }
    </script>
    <form>
        <table>
            <tr>
                <td>
                    <ul>
                        {% for tl in tableList %}
                            <li><input type="checkbox" name="tableList[]" value="{{ tl }}" checked>{{ tl }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td style="vertical-align: top;">
                    <input type="submit" value="Select these datasets" class="connectButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% macro targetInstance(targetForm) %}
    <div class="topLevelLabel">Target</div>
    <form action="" method="post" name="source">
    {{ targetForm.hidden_tag() }}
        <table>
            <tr>
                <td>
                    <div class="inputLabel">Instance URL</div>
                </td>
                <td>
                    {{ targetForm.url() }}
                </td>
            </tr>
            <tr>
                <td>
                    <div class="inputLabel">Username</div>
                </td>
                <td>
                    {{ targetForm.username() }}
                </td>
            </tr>
            <tr>
                <td>
                    <div class="inputLabel">Password</div>
                </td>
                <td>
                    {{ targetForm.password() }}
                </td>
                <td>
                    <input type="submit" value="Get domains" class="connectButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% macro targetDomainList(targetDomainForm) %}
    <form method="POST">
        <table>
            <tr>
                <td>
                    <div class="inputLabel">Domain</div>
                </td>
                <td>
                    {{ targetDomainForm.domain }}
                </td>
                <td>
                    <input type="submit" value="Get projects" class="connectButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}

{% macro targetProjectList(targetProjectForm) %}
    <form method="POST">
        <table>
            <tr>
                <td>
                    <div class="inputLabel">Project</div>
                </td>
                <td>
                    {{ targetProjectForm.project }}
                </td>
                <td>
                    <input type="submit" value="COPY DATASETS" class="copyButton" />
                </td>
            </tr>
        </table>
    </form>
{% endmacro %}
