{% extends "base.html" %}
{% from "macros.html" import sourceInstance %}
{% from "macros.html" import domainList %}
{% from "macros.html" import projectList %}
{% from "macros.html" import tableListDisplay %}
{% from "macros.html" import targetInstance %}
{% from "macros.html" import targetDomainList %}

{% block content %}
    <table>
        <tr>
            <td>{{ sourceInstance(sourceForm) }}</td>
            <td>{{ targetInstance(targetForm) }}</td>
        </tr>
        <tr>
            <td>{{ domainList(domainForm) }}</td>
            <td>{{targetDomainList(targetDomainForm) }}</td>
        </tr>
        <tr>
            <td>{{ projectList(projectForm) }}</td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td>{{ tableListDisplay(tableList) }}</td>
        </tr>
    </table>
{% endblock %}